<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.java.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.java.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>com.java.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>com.java.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>com.java.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.java.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateInvoiceServlet</servlet-name>
        <servlet-class>com.java.GenerateInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderDetailsServlet</servlet-name>
        <servlet-class>com.java.GetOrderDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderPdfServlet</servlet-name>
        <servlet-class>com.java.ViewOrderPdfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifySuperAdmin</servlet-name>
        <servlet-class>com.java.verifySuperAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateInvoiceServlet</servlet-name>
        <url-pattern>/GenerateInvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderDetailsServlet</servlet-name>
        <url-pattern>/GetOrderDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderPdfServlet</servlet-name>
        <url-pattern>/ViewOrderPdfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifySuperAdmin</servlet-name>
        <url-pattern>/verifySuperAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
